.product {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.image_wrapper {
  flex: 1;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.3);
    }
  }

  img {
    height: 100%;
    width: 250px;
    margin: auto;
    object-fit: cover;
    max-height: 230px;
    min-height: 230px;
    transition: transform .5s;

    @media (min-width: 768px) {
      max-height: 16.5rem;
      min-height: 16.5rem;
      width: 18rem;
    }
  }
}
