.product {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.image_wrapper {
  flex: 1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 230px;
    min-height: 230px;
  }
}