@import '../utils.scss';

.enter_passcode {
  height: 100vh;
}

.enter_passcode_container {
  height: calc(100vh - 8rem);

  input {
    text-align: center;
  }
}

.Home {
  padding: 126px 0;
  overflow: hidden;
  width: 100vw;
  position: relative;
  height: 100%;
  max-height: 100vh;
  overflow: scroll;

  .illustration {
    min-height: calc(46.6667vw);
    background: #6119272b;

    img {
      opacity: 0.9;
      flex: 1;
      height: 100%;
      object-fit: contain;
      width: 100%; 

      @media (min-width: 768px) {
        padding: 1.5rem 2.5rem;
      }
    }
  }
}

.behind_logo_circle {
  width: 43vh;
  height: 43vh;
  position: absolute;
  top: -10rem;
  right: -6rem;
  border-radius: 50%;
  background-color: #ffea9691;
  z-index: 0;

  @media (min-width: 768px) {
    width: 350px;
    height: 350px;
  }
}

.blue {
  background-color: #96efff80;
  z-index: 1;
  right: 2rem;
}

.ProductList {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1280px) {
    max-width: 81rem;
  }
}
