@import '../utils.scss';

.wrapper {
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -50vw;
  -o-transform-origin: 50% 50% -50vw;
  transform-origin: 50% 50% -50vw;
  width: 100%;
  position: relative;
  transition-duration: 2s;
  transition-timing-function: ease-out;

  > * {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    font-size: 50px;
    margin: auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}

.access {
  transform: translateX(50vw) translateZ(-50vw) rotateY(90deg);
}

.home {
  transform-origin: center;
  transform: translateZ(-100vw) rotateY(-180deg);
}

.label {
  height: calc(40px + 1.5rem + 2px);
  border-top: 1px solid $primary;
  border-left: 1px solid $primary;
  border: 1px solid $primary;
  background: #6119272b;
}

.mobile_img_wrapper {
  min-height: calc(100vh - 90px);

  .logo {
    width: 90%;
  }
}
