$primary: #611827;
$pink: #ebbdba;

@mixin bgTexture() {
  background: {
    color: $pink;
    image: url('../assets/bg-texture.png');
    repeat: repeat;
    size: 500% auto;
    // auto 100% => width auto, height 100%
    position: top center;
  }

  @media (min-width: 768px) {
    background-size: cover;
  }
}
