@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Devinne Swash';
  src: url('./fonts/DevinneSwash.woff2') format('woff2'),
      url('./fonts/DevinneSwash.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Devinne Swash', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Devinne Swash', sans-serif;
  background-image: url('./assets/bg-texture.png');
  color: #611827;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
